.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  flex-direction: column;
  gap: 1rem;
}

.errorMessage {
  color: red;
}

.retryButton {
  padding: 8px 16px;
  cursor: pointer;
}
