/* Neue Haas Grotesk Text (Linotype/Monotype), converted to WOFF2 from the desktop
   TTFs. Their licence is workstation-only; serving them is the owner's call while
   the site is unofficial — it needs a web licence before it goes public. The
   family has no Light, so weight 300 renders as Regular. */
@font-face {
  font-family: "Neue Haas Grotesk Text";
  src: url("/fonts/neue-haas-grotesk-text/regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Text";
  src: url("/fonts/neue-haas-grotesk-text/italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Text";
  src: url("/fonts/neue-haas-grotesk-text/medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Text";
  src: url("/fonts/neue-haas-grotesk-text/medium-italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Text";
  src: url("/fonts/neue-haas-grotesk-text/bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Text";
  src: url("/fonts/neue-haas-grotesk-text/bold-italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  font-size: 12px;
  font-family: ui-monospace, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-background: #000;
  --color-text: #fff;
  --color-link: #fff;
  --color-link-hover: #fff;
  --page-padding: 1.5rem;
  --font-sans: "Neue Haas Grotesk Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: var(--color-link-hover);
}

a:focus:not(:focus-visible) {
  outline: none;
}

a:focus-visible {
  outline: 2px solid red;
}

#root {
  position: relative;
  min-height: 100svh;
}
